*
{
  box-sizing: border-box;
}

/* Style the header */
header 
{
   background-color: green;
   padding: 30px;
   text-align: center;
   font-size: 35px;
   font-weight: bold;
   font-style : italic;
   color: darkorange;
   text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
h1
{
   font-size: 20px;  
   padding-top : 20px;  
}
/* Create two columns/boxes that floats next to each other */
nav
{
   float: left;
   width: 20%;
   padding: 20px;
   font-size: 20px;
}

/* Style the list inside the menu */
nav ul
{
   list-style-type: none;
   padding: 0;
}

article
{
   float: left;
   padding: 20px;
   width: 80%;
   background-color: #ffdeba;
   text-align: justify;
   line-height: 150%;
}
/* Clear floats after the columns */
section::after
{
   content: "";
   display: table;
   clear: both;
}

/* Style the footer */
footer
{
   background-color: #777;
   padding: 10px;
   text-align: center;
   color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px)
{
   nav, article
   {
      width: 100%;
      height: auto;
   }
}
img
{
   border: 5px solid #733635;
   width : 100px;
   height : 100px;
}
p
{
    font-size: 18px;
    padding : 0px;
}
body
{
   font-size: 15px;
   font-family: system-ui;
   text-align: center;
   background: #ccc;
}
table, th, td
{
   border:1px solid black;
   font-size: 19px;
   border-radius:  8px;
   border-spacing: 6px;
   box-shadow : -5px -5px 2px #FFFFCC;
   //transform: skewX(-3deg);
   padding: 8px;
}
table
{
   box-shadow : -10px -10px 5px orange;
   border: 3px solid white;
   background-color: #e1dac5;
   margin : 20px;
}

